@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
}

.playlist-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    height: 100%;
}

.container .nav {
    position: relative;
}

.input-field {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
}

form .row {
    width: 100%;
}

.row .input-field {
    margin: 0;
    margin-top: 5px;
    text-align: center;
}

.input-field input {
    text-align: center;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-container .dashboard {
    /* background-color: red; */
    width: 80%;
}

.collection {
    padding: 10px;
}

form {
    padding: 15px;
}

.no-click {
    pointer-events: none;
}

.workout-exercise {
    padding-top: 2px;
    padding-left: 5px;
}

.workout-exercise p {
    margin-top: 2px;
}

.sets-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.sets-flex-container .input-field {
    width: 60px;
    margin-left: 2px;
    margin-right: 2px;
}